body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid #d3d3d3;
  padding: 30px;
}

.description {
  white-space: pre-wrap;
}

.container {
  padding: 40px;
}

.time-block {
  text-align: center;
  height: 80px;
  margin: 5px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-radius: 15px;
  border-top: 1px solid white;
}

.hour {
  background-color: #F8F8F8;
  color: #000000;
  height: 80px;
  /* border-top: 2px dotted #000000; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.past {
  background-color: #E2E2E2;
  color: white;
  border-radius: 15px;
}

.future {
  background-color: #C8EFE5;
  color: white;
  border-radius: 15px;
}

.present {
  background-color: #F9ACC2;
  color: white;
  border-radius: 15px;
}

.resetBtn {
  font-size: 15px;
  display: flexbox;
  justify-content: center;
  /* align-items: center; */
  border-radius: 8px;
  color: white;
  background-color: black;
  opacity: 30%;
  border: 0px;
  padding: 10px;
  margin: 5px;
}

.resetBtn i:hover {
  color: white;
  background-color: black;
  opacity: 20%;
  transition: all 0.3s ease-in-out;
}

.saveBtn {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  opacity: 30%;
  color: white;
  height: 80px;
}

.saveBtn i:hover {
  height: 80px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}